<footer class="footer">
  <div class="container">
    <p>Contactez-nous : <br>
      Adresse : 11 rue benjamin Franklin<br>
      Téléphone : +33 7 56 89 43 56<br>
      Email : contact@airbnboat.com</p>
    <p>Suivez-nous : <br>
      <a  rel="noopener noreferrer">Facebook: @airbnboat</a> |
      <a  rel="noopener noreferrer">Twitter: @airbnboat</a> |
      <a  rel="noopener noreferrer">Instagram: @airbnboat</a></p>
  </div>
</footer>
