.dalina-card {
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
    border-radius: 15px;
    margin: 15px;
}

.banner {
  width: 100%;
  padding: 50px;
  background-image: url("mer.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
